.tab-screen {
  min-height: 100dvh;
  background: white;
  padding: 1rem 1rem 7rem;
}

.tab-screen--with-bottom-action {
  padding-bottom: 8rem;
}

.tab-screen__content {
  margin-inline: auto;
  display: flex;
  width: 100%;
  max-width: 28rem;
  flex-direction: column;
  gap: 2rem;
}

.tab-screen__bottom-action {
  position: fixed;
  inset-inline: 0;
  bottom: 3rem;
  z-index: 40;
  padding-inline: 1rem;
}

.tab-screen__bottom-action--tabbar {
  bottom: 6rem;
}

.tab-screen__bottom-action-inner {
  margin-inline: auto;
  width: 100%;
  max-width: 28rem;
}
